﻿@model CoffeeProj.ViewModel.RandomCoffeeViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*
    This is a comment
     On multiple lines
*@

@{
    var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@className">@Model.Coffee.name</h2>

@if (Model.Customers.Count == 0)
{
    <text>No one has buy this coffee before.</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>
}

